img {
    width: 200px;
    height: 30px;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    widows: 100%;
    height: 50px;
    box-sizing: border-box;
    transition: .3s;
    background: #66bb6a;
}

.bt {
    width: 150px;
    height: 50px;
    position: absolute;
    right: 0;
}

.di {
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.7);*/
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 140px;
    left: 0;
    font-weight: bold;
    opacity: 1;
    background-color: #424242;
}

section {
    position: absolute;
    left: 0;
    width: 100%;
    background: white;
    /* border: 1px solid;*/
    padding: 10px;
    /* box-shadow: 5px 7px rgba(0, 0, 0, 0.1);*/
}

h1 {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    font-weight: bold;
    left: 0;
}

.card {
    width: 270px;
    height: 400px;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
}

.modal {
    width: 100% !important;
    height: 75% !important;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
}

.card-title {
    font-weight: bold;
    text-align: center;
}

h4 {
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: bolder;
    left: 0;
}

button {
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
}

table {
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .7);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .7);
    padding: 10px;
    background: #e0e0e0;
    z-index: -1;
    /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.7);
    width: 100%;
    left: 0;
    /* one half of the remaining 30% */
    height: 150px;
    bottom: 0;
}

.pas {
    color: white;
    font-weight: bold;
}

.bto {
    position: fixed;
    bottom: 20%;
    right: 0;
}

.pa {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 14px;
    color: #757575;
}